table {
margin: auto; 
border: outset rgb(230, 4, 181) 6px; 
background: black; 
cursor: crosshair; 
}

h1 {
 
    background-position: center;

}
td {
line-height: 0; 
width: 40px; height: 40px; 
background: rgb(0, 0, 0); 
text-align: center; 
vertical-align: middle; 
-webkit-touch-callout: none;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
}
tr:nth-child(odd) td:nth-child(odd), 
tr:nth-child(even) td:nth-child(even) {
background: bisque; 
}

.blancas, .negras {
display: inline-block; 
font: 800 30px/1 "ms mincho", "dejavu sans", "dejavu sans condensed", "dejavu sans mono", quivira, "arial unicode ms", code2000, "droid sans fallback", eversonmono, freeserif, "gnu unifont", "segoe ui symbol", "y.ozfont", "unicode bmp fallback sil", serif; 
width: 80%; height: 80%; 
background: white; 
color: black; 
border: 2px outset black; 
border-radius: 100%; 
overflow: hidden; 
cursor: -ms-grab; 
cursor: -moz-grab; 
cursor: -webkit-grab; 
cursor: grab; 
}

.negras {
background: black; 
color: white; 
border: 2px outset white; 
}

.mano {
cursor: -ms-grabbing; 
cursor: -moz-grabbing; 
cursor: -webkit-grabbing; 
cursor: grabbing; 
}
